In [120]:
#logistic regression by Hammad A Khan

#Step1: Imports
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
%pylab inline
import matplotlib.pyplot as plt

Populating the interactive namespace from numpy and matplotlib

In [121]:
#Step2: Read and Prepare Data
df = pd.read_csv("/Users/hammadakhan/Documents/EISTI/DataMining/logisticregression/train.csv")

In [122]:
df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [123]:
df.columns #check columns of dataframe

Index([u'PassengerId', u'Survived', u'Pclass', u'Name', u'Sex', u'Age',
       u'SibSp', u'Parch', u'Ticket', u'Fare', u'Cabin', u'Embarked'],
      dtype='object')

In [124]:
#Get only required values from initial dataframe into our processing dataframe
X = pd.DataFrame()
X['Age'] = df['Age']
X['Sex'] = df['Sex']
X['Survived'] = df['Survived']

#X.head(3) 
X.dropna(axis=0) #drop all missing values
X.fillna(0)
#alright, now our dataframe is ready

      Age     Sex  Survived
0    22.0    male         0
1    38.0  female         1
2    26.0  female         1
3    35.0  female         1
4    35.0    male         0
5     0.0    male         0
6    54.0    male         0
7     2.0    male         0
8    27.0  female         1
9    14.0  female         1
10    4.0  female         1
11   58.0  female         1
12   20.0    male         0
13   39.0    male         0
14   14.0  female         0
15   55.0  female         1
16    2.0    male         0
17    0.0    male         1
18   31.0  female         0
19    0.0  female         1
20   35.0    male         0
21   34.0    male         1
22   15.0  female         1
23   28.0    male         1
24    8.0  female         0
25   38.0  female         1
26    0.0    male         0
27   19.0    male         0
28    0.0  female         1
29    0.0    male         0
..    ...     ...       ...
861  21.0    male         0
862  48.0  female         1
863   0.0  female         0
864  24.0    male         0
865  42.0  female         1
866  27.0  female         1
867  31.0    male         0
868   0.0    male         0
869   4.0    male         1
870  26.0    male         0
871  47.0  female         1
872  33.0    male         0
873  47.0    male         0
874  28.0  female         1
875  15.0  female         1
876  20.0    male         0
877  19.0    male         0
878   0.0    male         0
879  56.0  female         1
880  25.0  female         1
881  33.0    male         0
882  22.0  female         0
883  28.0    male         0
884  25.0    male         0
885  39.0  female         0
886  27.0    male         0
887  19.0  female         1
888   0.0  female         0
889  26.0    male         1
890  32.0    male         0

[891 rows x 3 columns]

In [115]:
#Step4: Declare dependent and independant variables;
# in our case, SURVIVED or not is dependant
y = X['Survived']
X = X.drop(['Survived'],axis=1) #axis=1 means its Column, axis=0 means its row

In [116]:
y.head(3)

0    0
1    1
2    1
Name: Survived, dtype: int64

In [117]:
#Problem: Our SEX field is a text string and not a numeric. To make computation easier we convert it to 0/1 values using below function
X['Sex'] = pd.get_dummies(X.Sex)['female']

In [118]:
X.head(10)
#X = X.fillna(0)

    Age  Sex
0  22.0  0.0
1  38.0  1.0
2  26.0  1.0
3  35.0  1.0
4  35.0  0.0
5   NaN  0.0
6  54.0  0.0
7   2.0  0.0
8  27.0  1.0
9  14.0  1.0

In [119]:
from sklearn.preprocessing import StandardScaler
from sklearn.cross_validation import train_test_split

#scale it
scaler = StandardScaler()
X = scaler.fit_transform(X)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [107]:
X_train, y_train, X_test, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [108]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(penalty='l2', C=1) 
#C and penalty are regularization parameters, could be L1/L2 for penalty

In [109]:
#model.fit(X_train, y_train)
y_test.size

179